@charset 'utf-8';

$c-text: hsl(50, 20%, 20%);
$b-medium-max: 768px;
$b-large-min: $b-medium-max+1;

#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
}

.header-outer {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
}

.site-title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.0rem;
  transition: 1s;

  a {
    color: $c-text;

    &:hover,
    &.hover {
      text-decoration: none;
    }
  }
}
.sns-box {
  margin-top: 20px;
  text-align: center;
 }
.sns-link {
  margin: 0 5px;
  font-size: 30px;
  color: #666;

  &:hover {
    color: #444;
  }
}
